.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121618;
    padding: 1.5rem 2rem;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-logo img {
    height: auto;
    max-width: 100%;
    width: 4rem;
  }
  
  .header-title {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  
  .header-title h1 {
    font-size: 1.5rem;
    color: white;
    margin: 0; 
  }
  
  .header-title span {
    font-size: 1.5rem;
    color: orange;
    margin: 0; 
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-actions {
    display: flex;
  }
  
  .header-actions .header-action-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .header-actions .header-action-button:focus {
    outline: none;
  }
  
  .menu-toggle-container {
    position: relative;
    padding-top: 6px;
  }
  
  .menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .menu-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
  
  .menu-hamburger {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #f7931e;
    border-radius: 5px;
    padding: 10px;
    transform: translateY(0);
    transition: transform 0.3s ease;
  }
  
  .menu-hamburger a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 0;
    transition: background-color 0.3s ease;
  }
  
  .menu-hamburger a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  